EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_RC_KEY=your_revenuecat_key_here
EXPO_PUBLIC_SENTRY_DSN=your_sentry_dsn_here
EXPO_PUBLIC_POSTHOG_KEY=your_posthog_key_here
EXPO_PUBLIC_UNSPLASH_KEY=your_unsplash_key_here
